@import "tailwindcss";

html {
  scroll-behavior: smooth;
  transition: background-color 0.5s ease, color 0.5s ease;
}
html.theme-transition body {
  filter: brightness(1.05) blur(1px);
}

@theme {
  --color-bg-light: #f9fafb;
  --color-bg-dark: #0b1120;
  --color-text-light: #0f172a;
  --color-text-dark: #f9fafb;
}

body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
  transition: background-color 0.6s ease, color 0.6s ease, filter 0.4s ease;
}

.dark body {
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
}
