@import "tailwindcss";

@theme {
  --color-bg-light: #f9fafb;
  --color-bg-dark: #0b1120;
  --color-text-light: #0f172a;
  --color-text-dark: #f9fafb;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dark body {
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
}
